/* 
 Google Fonts
 font-family: 'Montserrat', sans-serif;
 font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap');

/*
 Basic css
=============== */


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #c7c5c7;
    background-color: #2B3D4F;
    
}
a, a:hover {
    text-decoration: none;
    /* font-weight: 500; */

}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 0;
}
.page-title {
margin-bottom: 35px;
}
.page-title h2 {
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.page-title h2::after {
    content: "";
    position: absolute;
    bottom: -9px;
    background-color: #25ACEB;
    width: 5px;
    height: 5px;
    left: 50%;
    z-index: 222;
    border-radius: 50%;
    transform: scale(1);
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(37, 172, 235, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(37, 172, 235, 0);
    }
    100% {
        transform: scale(0.9);
    }

}
.page-title h2::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: transparent linear-gradient(to right, transparent, #25ACEB, transparent) repeat scroll 0 0;
    bottom: -8px;
    z-index: 111;
}



/*
 Header area css
=============== */
.header-area {
    background: rgb(38,52,70);
    background: radial-gradient(circle, rgba(38,52,70,1) 0%, rgba(18,44,79,1) 100%);
}
.header-area .navbar .navbar-brand {
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    position: relative;
}
.header-area .navbar .navbar-brand span {
    color: #16C0F0;
    

}
.header-area .navbar .navbar-brand::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #16C0F0;
    right: -5px;
    bottom: 15px;
}
.header-area .nav-item .nav-link:hover {
    color: #90e3fa;
}
.hireMeBtn {
    background-color: #16C0F0;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    animation: bgChanger 1.5s infinite ease;

}
.hero-btn {
    background-color: #16C0F0;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
}
.hireMeBtn:hover,
.hero-btn:hover {
    color: aliceblue;
    animation: none;
}

@keyframes bgChanger {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*
 Hero area css
=============== */
.hero-area {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(3, 24, 141, 0.52), rgba(0, 0, 0, 0.73)), url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {}
.hero-text h3 {
    color: #16C0F0;
    text-transform: uppercase;
}
.hero-text h1 {
    color: #FFFFFF;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 75px;
}
.hero-text h1 span {
    font-weight: 700;
}
.hero-text p {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
}

/*
 about area css
=============== */
.about-area {
    padding: 100px 0;
    background: rgb(38,52,70);
    background: radial-gradient(circle, rgba(38,52,70,1) 0%, rgba(18,44,79,1) 100%);
}

.about_text .about_deails h3 {
    color: #fff;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.about_text .about_deails h4 {
    color: #25ACEB;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.about_text .about_deails p {
    letter-spacing: 0.01em;
    line-height: 1.6;
}



.social-profiles a {
    background-color: #030406;
    color: #707680;
    display: inline-block;
    padding: 5px 10px;
    transition: color .5s ease;
    font-size: 18px;
}
.social-profiles a:hover {
    color: #16C0F0;
}
/*
 service area css
=============== */
.service-area {
    padding: 100px 0;
    background-color: #263446;
}

.service-outer {
    background-color: #2B3D4F;
    border-bottom: 2px solid #16C0F0;
    border-radius: 5px;
    padding: 20px;
    transition: transform .5s;
}
.service-outer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}
.service-outer p {
    color: #c7c5c7;
}
.service-outer:hover {
    transform: translateY(-5px);
}
.service_icon {
    color: #16C0F0;
    border-radius: 50%;
    border: 1px solid #16C0F0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin: 20px auto 0 auto;
    transition: all 0.5s;
    display: inline-block;
}
.service-outer:hover .service_icon {
    background-color: #16C0F0;
    color: #fff;
}

/*
 work area css
=============== */
.work-area {
    padding: 100px 0;
    /* background-color: #263446; */
    background: rgb(38,52,70);
background: radial-gradient(circle, rgba(38,52,70,1) 0%, rgba(18,44,79,1) 100%);
}
.work-image {}
.work-content {}
.work-content.right {
    text-align: right;
}
.work-content h5 {
    font-size: 16px;
    color: #16C0F0;
    font-weight: 500;

}
.work-content h3 {
    font-size: 35px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-stroke: 1px rgb(255, 255, 255);
    margin-bottom: 20px;
}
.work-content .details{
    display: flex;
    justify-content: center;
    background-color: #112240;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.work-content .technology {
    /* margin-bottom: 15px; */
}
.work-content .technology ul {
    margin: 0;
    padding: 0;
}
.work-content .technology ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #16C0F0;
    
}
.work-content .technology ul li::before {
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    left: 0;
    font-size: 5px;
    color: #16C0F0;
    top: 50%;
    transform: translateY(-50%);


}
.work-content .work-link {}
.work-content .work-link a {
    color: #707680;
    display: inline-block;
    padding: 5px;
    transition: color .5s ease;
}
.work-content .work-link a:hover {
    color: #16C0F0;
}

/*
 contact area css
=============== */
.contact-area {
    padding: 100px 0;
    background-color: #263446;
}
.address-outer,
.contact-form-outer {
    border: 3px solid #374757;
    background-color: #2B3D4F;
    padding: 35px 30px;
    color: #fff;
}
.contact-form-outer form input,
.contact-form-outer form textarea {
    color: #fff;
    background-color: #304255;
    border: none;
    padding: 15px;

}
.contact-form-outer form input:focus,
.contact-form-outer form textarea:focus {
    color: #fff;
    outline: 0;
    box-shadow: none;
    background-color: #304255;
}
.contactBtn {
    color: #16C0F0;
    border: 1px solid #16C0F0;
    border-radius: 50px;
    padding: 10px 15px;
}
.contactBtn:hover {
    background-color: #16C0F0;
    color: #fff;
}

.address-outer {

}
.single-address {
    position: relative;
    padding: 25px;
    color: #c7c5c7;
    z-index: 333;
    border-bottom: 2px solid #263446;
}
.single-address.location::before {
    position: absolute;
    content: "\f3c5";
    left: -100px;
    width: 100%;
    z-index: 110;
    height: 100%;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #324c60;
    font-size: 45px;
    transform: rotate(-20deg);
}

.single-address.email::before {
    position: absolute;
    content: "\f0e0";
    left: -107px;
    width: 100%;
    z-index: 110;
    height: 100%;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #324c60;
    font-size: 45px;
    transform: rotate(-20deg);
}
.single-address.phone::before {
    position: absolute;
    content: "\f095";
    left: -110px;
    width: 100%;
    z-index: 110;
    height: 100%;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #324c60;
    font-size: 45px;
    transform: rotate(-8deg);
}
.single-address h4 {
    color: #16C0F0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
.single-address:first-child {
    padding-top: 0;
}
.single-address:last-child {
    padding-bottom: 0;
    border-bottom: 0px solid #263446;
}
.single-address address {
    margin-bottom: 0; 
}



/*
 preloader area css
=============== */
/* preloader area css */
#preloader-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader-area::after,
#preloader-area::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: #111;
    z-index: -1;
    transition: .5s ease-in-out;

}
#preloader-area::after {left: 0;}
#preloader-area::before {right:0}

.page-loaded .spinner-border {
    display: none;
}
#preloader-area.page-loaded::after {left: -50%;}
#preloader-area.page-loaded::before {right:-50%}



/*
 click top
=============== */
.click_top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: #030406;
    color: #707680;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    animation: pulse 2s infinite;
    
}
.click_top span {
    font-weight: bold;
    
}
.click_top span:hover {
    color: rgb(22, 192, 240);
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #0D6EFD;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

#cursor2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border: 1px solid #0D6EFD;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

/*
 footer area css
=============== */
.footer-area {
    background-color: #030406
}


@media (max-width: 991px) {
    .hero-text h1 {
        font-size: 32px;
        font-weight: 600;
    }
    .page-title {
        text-align: center;
    }
    .about_text {
        text-align: center;
    }
    .social-profiles {
        text-align: center;

    }
    .work-content, .work-content.right {
        text-align: center;
    }
}

